.Footer{
    background-color: var(--background);
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 350px;

    .leftSide{
        width: calc(33% - 30px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .infoGrid{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .infoBlock{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                p{margin: 0;}
            }
        }


        
    }

    .centerSide{
        width: calc(66% - 30px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        


        .top{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-around;
        }
    }
}
