
.Card{
    all: unset;
    height: 270px;
    background-size: cover;
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.7) 100%);
        z-index: 1;
        border-radius: 20px;
    }

    @media (max-width: 500px) {
        height: 200px;
    }

    &:hover{
        transition: all 0.4s ease;
        transform: scale(1.03);


        .arrow {
            /* Увеличиваем размер */
            background-size: 50px; 
            
            /* ПОВОРОТ: добавляем вращение */
            transform: rotate(45deg); 
            
            transition: all 0.4s ease;
        }

        .categoryTitle{
            transition: all 0.4s ease;
            text-shadow:
            0 0 4px rgba(255, 255, 255, 0.3),
            0 0 8px rgba(255, 255, 255, 0.2),
            0 0 16px rgba(255, 255, 255, 0.4);
        }
    }

    &:active{
        transition: all 0.4s ease;
        transform: scale(1.02);

        .arrow {
            /* Увеличиваем размер */
            background-size: 50px; 
            
            /* ПОВОРОТ: добавляем вращение */
            transform: rotate(90deg); 
            
            transition: all 0.4s ease;
        }
    }

    .arrow{
        z-index: 2;
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 999px;
        background-color: white;
        background-image: url("/icons/Frame.svg");
        background-position: center;
        background-size: 45px; 
        margin-left: calc(100% - 50px);
        transition: all 0.4s ease;
    }

    .categoryTitle{
        z-index: 2;
        width: fit-content;
        padding: 10px 15px;
        color: white;
        border-radius: 50px;
        margin-top: auto;
        margin: 0;
        font-size: clamp(1.125rem, 0.9519rem + 0.7692vw, 1.875rem);
        font-family: var(--font-unbounded);
        transition: all 0.4s ease;
    }
}


.head {
    margin: 0;
    // min-height: 100vh;
    min-height: 650px;
    background-size: cover;
    position: relative;
    display: flex;

    @media (max-width: 1600px) {
        min-height: 550px;
    }
    @media (max-width: 1000px) {
        min-height: 450px;
    }
    @media (max-width: 600px) {
        min-height: 400px;
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.55) 100%);
        z-index: 1;
    }

    .headContent{
        height: 100%;
        
        position: relative;
        z-index: 2;
        color: white;
        max-width: 1200px;
        width: 100%;
        margin: auto 0 0 calc(50% - 1510px / 2);
        padding-bottom: 100px;

        @media (max-width: 1600px) {
            margin: auto 4.5% 0;
        }

        h1{
            text-transform: uppercase;
        }

        .subTitle{
                margin-top: 20px;
            p{
                margin: 0;
                font-weight: 500;
                font-style: Medium;
                font-size: clamp(1.125rem, 0.9519rem + 0.7692vw, 1.875rem);
            }
        }
    }
}

.ProductsSection{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 1300px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 800px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px){
        grid-template-columns: repeat(1, 1fr);
    }
}