
.Card{
    all: unset;
    height: 270px;
    background-size: cover;
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;

    @media (max-width: 500px) {
        height: 200px;
    }

    &:hover{
        transition: all 0.4s ease;
        transform: scale(1.05);

        .arrow {
            /* Увеличиваем размер */
            background-size: 50px; 
            
            /* ПОВОРОТ: добавляем вращение */
            transform: rotate(45deg); 
            
            transition: all 0.4s ease;
        }
    }

    &:active{
        transition: all 0.4s ease;
        transform: scale(1.03);

        .arrow {
            /* Увеличиваем размер */
            background-size: 50px; 
            
            /* ПОВОРОТ: добавляем вращение */
            transform: rotate(90deg); 
            
            transition: all 0.4s ease;
        }
    }

    .arrow{
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 999px;
        background-color: white;
        background-image: url("/icons/Frame.svg");
        background-position: center;
        background-size: 45px; 
        margin-left: calc(100% - 50px);
        transition: all 0.4s ease;
    }

    .categoryTitle{
        width: fit-content;
        padding: 10px 15px;
        background-color: white;
        border-radius: 50px;
        margin-top: auto;
        margin: 0;
        font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
        font-family: var(--font-manrope);
    }
}

.ProductsSection{

    
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;


    

    .productsHeader{
        grid-column: span 2;



        .glassButton{
                margin-top: 30px;

                width: 210px;
                height: 50px;

                @media (max-width: 1600px) {
                    width: 190px;
                    height: 45px;
                }
                @media (max-width: 992px) {
                    width: 280px;
                    height: 50px;
                }
                @media (max-width: 400px) {
                    width: 250px;
                    height: 45px;
                }

                text-decoration: none;

                border-radius: 15px;

                background: #3296FA; /* #FFFFFF1A */

                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

                display: inline-flex;
                align-items: center;
                justify-content: center;

                color: #ffffff;
                font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
                font-weight: 500;

                cursor: pointer;
                outline: none;

                transition: 
                    background 0.2s ease,
                    box-shadow 0.2s ease,
                    transform 0.4s ease;

                &:hover{
                    transition: all 0.4s ease;
                    transform: scale(1.05);
                }

                &:active{
                    transition: all 0.4s ease;
                    transform: scale(1.03);
                }
            }
        }

    @media (max-width: 1300px){
        grid-template-columns: repeat(3, 1fr);

        .productsHeader{
            grid-column: span 3;
        }
    }

    @media (max-width: 800px){
        grid-template-columns: repeat(2, 1fr);

        .productsHeader{
            grid-column: span 2;
        }
    }

    @media (max-width: 600px){
        grid-template-columns: repeat(1, 1fr);

        .productsHeader{
            grid-column: span 1;
        }
    }
}