.contactsSection {
  width: 100%;
  height: 610px;
  position: relative;

  display: flex;
  align-items: center; // ⬅️ вертикальный центр

  @media (max-width:530px) {
    align-items: end;
    padding: 2.5% 0;
  }
  

  
  overflow: hidden !important;
}

.map {
  
  position: absolute;
  inset: 0;
  z-index: 1;
  
}

.contactsBlock {
    margin-left: calc((100% - 1510px) / 2);

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  position: relative;
  z-index: 2;
  padding: 40px;

  width: 500px;
  height: 350px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
              inset 0 0 50px #fff;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 20px;

  @media (max-width:1510px) {
    margin: 0 2.5%;
  }
  @media (max-width:530px) {
    width: 100%;
  }

  h2{
    margin: 0; 
    font-family: var(--font-montserrat);
  }
}
