.contactsSection {
  width: 100%;
  height: 610px;
  position: relative;

  display: flex;
  align-items: center; // ⬅️ вертикальный центр

  @media (max-width:530px) {
    align-items: end;
    padding: 4.5% 0 0;
    align-items: end;
  }
  

  
  overflow: hidden !important;
}

.map {
  
  position: absolute;
  inset: 0;
  z-index: 1;
  
}

.contactsBlock {
    margin-left: calc((100% - 1510px) / 2);

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  position: relative;
  z-index: 2;
  padding: 40px;

  width: 500px;
  height: 350px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
              inset 0 0 50px #fff;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 20px;

  @media (max-width:1510px) {
    
    margin: 0 4.5%;
  }
  @media (max-width:900px) {
    margin: 0 auto;
    width: 450px;
    height: 300px;
  }
  @media (max-width:600px) {
    width: 350px;
    height: 250px;
  }
  @media (max-width:530px) {
    width: 100%;
    border-radidus-bottom-left-radius: 0;
    border-radius-bottom-right-radius: 0 !important;
  }
  @media (max-width:450px) {
    width: 100%;
    height: 350px;
  }

  h2{
    color: #1E1E1E;
    margin: 0; 
    font-family: var(--font-montserrat);
  }

  .titleBlock{
    font-weight: 500;
    color: #292C3B;
    font-size: clamp(0.9375rem, 0.8077rem + 0.5769vw, 1.5rem);
    margin: 5px 0;
  }

  .textBlock, .linkBlock{
    // all: unset;
    color: #292C3B;
    font-size: clamp(0.9375rem, 0.8942rem + 0.1923vw, 1.125rem);
    margin: 5px 0;
  }

  .linkBlock{
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1rem, 0.9423rem + 0.2564vw, 1.25rem);
    font-weight: 500;
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1.03);
    }
  }

  .socialsBlock{
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width:450px) {
    flex-direction: column;
  }

    .socialLink {
      position: relative;
      width: 151px;
      height: 42px;

      display: flex;

      padding: 0 8px 0 18px;

      border: 1px solid #1E1E1E;
      border-radius: 999px;
      text-decoration: none;
      color: #1a1a1a;
      align-items: center;

      transition: transform .25s ease, box-shadow .25s ease;
    }

    .socialLink:hover {
      transform: scale(1.05);
    }

    .socialLink:active {
      transform: scale(1.02);
    }

    /* текст */
    .socialText {
      position: absolute;
      font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
      left: 42%;
      transform: translateX(-50%);
      font-weight: 500;
    }

    /* круг под иконку */
    .socialIcon {
      margin: auto 0 auto auto;
      
      width: 30px;
      height: 30px;
      border-radius: 50%;


      display: flex;
    }
  }
}

