:root {
  --background: #ECECEC;
  --second-background: #3F3F3F;
  --text-color: #000000;
  --card-back: #FAFAFA;
  
}

// Экран    | 360px | 1920+px
// ---------------- 
// h1       | 32px | 90px
// ---------------- 
// h2       | 25px | 50px
// ----------------
// p1       | 20px | 35px
// ----------------
// subtitle | 18px | 30px
// ----------------
// p2      | 15px | 24px
// ----------------
// p3      | 16px | 22px
// ----------------
// p4      | 16px | 20px
// ----------------
// p5      | 15px | 18px
// ----------------
// p6      | 14px | 16px





html{
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-montserrat);
  font-size: 20px;
  margin: 0 !important;
  padding: 0 !important;

  @media (max-width: 992px){
    font-size: 18px !important;
  }
}

footer{
  color: #fff;
  background-color: var(--second-background);
}

.container{
  max-width: 1510px;
  padding: 0 20px;
  margin: 80px auto;

  @media (max-width:1530px) {
    padding: 0 2.5%; 
  }
  @media (max-width: 1230px){
    margin: 50px auto;
  }
}



h1{
  color: #FFFFFF;
  margin: 0;
  font-family: var(--font-unbounded);
  font-weight: 600;
  line-height: 120%;
  font-size: clamp(2rem, 1.1635rem + 3.7179vw, 5.625rem);
}

h2{
  font-family: var(--font-unbounded);
  font-size: clamp(1.5625rem, 1.2019rem + 1.6026vw, 3.125rem);
  font-weight: 500;
  margin-bottom: 20px;
}

h3{
  font-size: 32px ;
  font-weight: 600;

  @media (max-width:992px) {
    font-size: 24px;
  }

}

h4{
  font-size: 28px ;
  font-weight: 500;

  @media (max-width:992px) {
    font-size: 24px;
  }

}

p{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;

  @media (max-width: 992px){
    font-size: 18px;
  }
}
