.rashir{
    max-width: 1510px;
    padding: 0 20px;
    margin: 80px auto;
}

.sliderContainer{
  margin: 80px 0;
  
  @media (max-width: 1230px){
    margin: 50px 0;
  }
}

.sliderCard{
    min-height: 310px;
    min-width: 410px;

    @media (max-width:1530px) {
        min-width: 380px;
        min-height: 270px;
    }

    @media (max-width:992px) {
        min-width: 360px;
        min-height: 250px;
    }

    position: relative;

    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;

    .stepNum{
        z-index: 1;
        position: absolute;
        top: 0;
        color: #ECECEC;
        font-weight: 700;
        font-size: 140px;
        line-height:normal;
    }

    .stepTitle{
        margin-top: 80px;
        position: relative;
        z-index: 2;
        font-family: var(--font-unbounded);
        font-weight: 500;
        font-size: clamp(1.25rem, 1.0337rem + 0.9615vw, 2.1875rem);
        line-height: 124%;
    }

    .point{
        font-size: clamp(1rem, 0.9135rem + 0.3846vw, 1.375rem);
    }
}
.mySwiper {
  overflow: hidden;
  
  // Самый простой вариант:
  padding-left: 20px;
  
  // Для больших экранов добавьте:
  @media (min-width: 1510px) {
    $padding: calc((100vw - 1510px) / 2);
    padding-left: #{$padding} !important;
  }
  
  .swiper-slide {
    width: auto !important;
  }
}